<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common :: head"></head>
<body>
<h3>Remove Blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blog/delete}" th:object="${blogDelete}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{authorBlog}"/>
        </div>
        <div>
            <label>Title</label>
            <input type="text" th:field="*{titleBlog}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{contentBlog}"/>
        </div>

        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/common :: footer"></footer>
</body>
</html>