<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit catalogue</title>
</head>
<body>
<h1>Edit catalogue</h1>
<p>
    <a href="/catalogue">Catalogue list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/catalogue/edit-catalogue}" th:object="${catalogue}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name Catalogue:</td>
            <td><input type="text" th:field="*{nameCatalogue}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update province"></td>
        </tr>
    </table>
</form>
</body>
</html>